# version: "3.8"

services:
  frontend:
    build:
      context: ./frontend/web
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - auth-service
    networks:
      - backend
    restart: unless-stopped

  auth-service:
    build:
      context: ./AuthenticationService
      dockerfile: dockerfile
    container_name: auth-service
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017
    networks:
      - backend
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

volumes:
  mongo_data:

networks:
  backend:
    driver: bridge
